### Data Structures

         - Lists
    
         - Tuple
        
         - Dictionary
            
              
### List Comprehension

#### Data Structures in Python
##### Lists

In [ ]:
An ordered sequence of values enclosed within [ ].

- List can be created by [] or list()

- Lists are mutable : Can do changes

-  List can contain multiple data types

- Lists are iterables

In [ ]:
# Create an empty list

In [ ]:
#type

In [ ]:
# create a list with int data types

In [ ]:
# create a list with string data type

In [ ]:
# create a list with mixed data types :

In [ ]:
# Lists are mutable
# change the value '5' into '0' in the list ls3

In [ ]:
# Extract 'age' from the list ls3

In [ ]:
# Extract 'e'  from the list ls3

In [ ]:
# Extract 'age',True from the list ls3

In [ ]:
ls4= [25,31,[3,4],-5]
# extract [3,4] from the list ls4.

In [ ]:
first=[2,34,5,[56,81,[43,89],67],10]

In [ ]:
# extract [43,89] from the list 'first'

In [ ]:
# extract 89

In [ ]:
#extend
newlist1=[1,2,3]
newlist2=[5,6]

In [ ]:
# append
newlist3=[6,7,8]
newlist4=[9,10]

In [ ]:
newlist3+newlist4

In [ ]:
# insert
#syntax: listobject.insert(index,value)

In [ ]:
#pop
# listobject.pop(index) 
# list object.pop()--> removes last element in the list

In [ ]:
## remove 
# syntax: listobject.remove(value)
list_1=[1,2,'hi','wel',8]

In [ ]:
first=[2,34,5,[56,81,[43,89],67],10,59,57]

In [ ]:
#remove elements from the list : remove 81 # del(indexing)

In [ ]:
# remove 43

In [ ]:
# reverse
# syntax: list object.reverse()
list1 = [1, 2, 3, 4, 1, 2, 6]

In [ ]:
#index: object.index(value)
# returns theindex of the element

In [ ]:
### Apply + * on list objects
ls1=[12,23,12,45]
ls2=[34,6,7,8]

In [ ]:
# sort the list object in ascending order
ls6=[12,4,78,2,9,54]

In [ ]:
#sorted()

In [ ]:
# descending order # reverse=True

In [ ]:
#sort() method

In [ ]:
#descending order

In [ ]:
# Copy one list from the other list (or) creating a list from existing list by using '=' (or) 
#copy() method
ls9=[1,2,5,2,1,3,2,10]
#create newlist from ls9.

In [ ]:
# do changes on original object and check whether the copied objects are updated or not

In [ ]:
#split method
dt="6-6-2022"
#split it by '-'

In [ ]:
# loop
# for loop

In [ ]:
#List comprehension
# one line expression of for loop

In [ ]:
a=[1,2,3,4]
#list of square of elements of a
#for loop

In [ ]:
#list comprehension : syntax: [expression for if]
# list of square of elements

In [ ]:
cities=['Delhi','Pune','Chennai','Bangalore','Hyd']
# create a list of elements which has length is greater than 6.

In [ ]:
L=[4,7,8,9]
# Add value 5 to each element in the list

In [ ]:
# Create a list of elements which is greater than 5 in the given list L

In [ ]:
# Addition of two lists L1 and L2
# for loop
L1=[3,4,5,6]
L2=[1,3,5,8]

In [ ]:
# list comprehension

### Tuple

- A tuple is a sequence of items
- tuple is created by using () or tuple()
- tuple contains mixed data type
- tuples are immutable
- tuples are iterable

In [ ]:
# empty tuple object

In [ ]:
#type

In [ ]:
#create a tuple with elements

In [ ]:
# extract '4' from t3

In [ ]:
# immutable

In [ ]:
# convert tuple object into list and do changes.

In [ ]:
#for loop

### Dictionary
- A collection of unordered set of key:value pairs.

- Create dictionaries by using {} or dict()

- Keys are unique.

- values are accessed by using keys, not by index

- Dictionaries are mutable.

- Dicitonaries are iterables.

In [ ]:
# empty dict:

In [ ]:
#type

In [ ]:
# create dict of integer values

In [ ]:
# create  dict of strings values

In [ ]:
# create dict of mixed data types
d2_1={'new1':'hello','new2':5,'new3':[7,8],'new4':('the',87)}

In [ ]:
# keys() & values() method

In [ ]:
#items() method

In [ ]:
#extract [5,6,7] from d4.

In [ ]:
#extract 6

In [ ]:
#extract 'b'

In [ ]:
d5={'one':{'el_one':[3,4,6,{'el_two':'z'}]}}
# extract 'z'

In [ ]:
d6={'new':[9,4,5,['split','merge',10]],'old':('s',17,0),'mid':{'ram':4,'ravi':8}}
#Extract 'merge'
#extract 8

In [ ]:
# for loop

In [ ]:
#mutable
# change the 1st element in the first key in the dictionary d6.

In [ ]:
# using pop() method to rename the key names in the dictionary

In [ ]:
?d6.update()   # press shift+tab will show the details about the given method.

In [ ]:
### map and filter function
#square function

#map function: map square function
b=[2,3,4]
# map(fun,iterable)

In [ ]:
# filter function
# filter the words from a list that dont start with the letter 's'
seq=['soup','salad','food','great']
                         ## without list, it will returns the generator object.

In [ ]:
--------------------------------------------------End--------------------------------------------------------------